<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment 5</title>
        <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
    </head>
    <body>
        <img src="../resources/banner.svg" width="100%" height="300px" alt="A banner of the night time sky with stars and the moon." />
        <nav class="menue">
            <ul>
                <li><a href="../index.html">Home Page</a></li>
                <li><a href="./two.html">2nd Page</a></li>
                <li><a href="./three.html">3rd Page</a></li>
            </ul>
        </nav>
        <h1>SVG Animation is easy!</h1>
        <img src="../resources/page-three.svg" alt="A animation of a red circle following a grey square's perimeter."/>
    </body>
</html>