<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment 5</title>
        <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
    </head>
    <body>
        <img src="../resources/banner.svg" width="100%" height="300px"/>
        <nav class="menue">
            <ul>
                <a href="../index.html">Index page</a>
                <a href="./two.html">Two page</a>
                <a href="./three.html">Three page</a>
            </ul>
        </nav>
        <h1>Favorite Coding Resources</h1>
        <table>
            <caption>My Favorite Resources</caption>
            <thead>
              <tr>
                <th>Coding Resources</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>W3Schools</td>
                <td><a href="https://www.w3schools.com/" target="_blank">https://www.w3schools.com/</a></td>
              </tr>
              <tr>
                <td>DSA with Java 3rd Edition</td>
                <td><a href="https://www.amazon.com/Data-Structures-Abstractions-Java-3rd/dp/0136100910" target="_blank">https://www.amazon.com/Data-Structures-Abstractions-Java-3rd/dp/0136100910</a></td>
              </tr>
              <tr>
                <td>Stack Overflow</td>
                <td><a href="https://stackoverflow.com/" target="_blank">https://stackoverflow.com/</a></td>
              </tr>
            </tbody>
          </table>
    </body>
</html>