<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment 5</title>
    </head>
    <body>
        <img src="../resources/banner.svg" width="100%" height="300px"/>
        <nav class="menue">
            <ul>
                <a href="/">Index page</a>
                <a href="./two.html">Two page</a>
                <a href="./three.html">Three page</a>
            </ul>
        </nav>
        <h1>Favorite Coding Resources</h1>
        <table>
            <caption>My Favorite Resources</caption>
            <thead>
              <tr>
                <th>Websites</th>
                <th>Textbooks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>W3Schools</td>
                <td>DSA with Java 3rd Edition</td>
              </tr>
              <tr>
                <td>Youtube</td>
                <td>C++ Programming Language, 4th Edition</td>
              </tr>
              <tr>
                <td>Stack Overflow</td>
                <td>Computer Organization, Patterson, D. and Hennessy, J. Morgan-Kaufmann 5th edition</td>
              </tr>
            </tbody>
          </table>
    </body>
</html>